@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}



/* shared styles  */
.container {
    width: 70%;
    margin: 0 auto;
    margin-top: 6.25rem;
}

p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.section_title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    white-space: nowrap;
    /* overflow: hidden; */
}

.btn_primary {
    width: 224px;
    display: flex;
    justify-content: center;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border-radius: 42px;
    border: none;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
}

.card_title {
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1.875rem;
}

.card_para {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 0.375rem;
    text-align: center;
}

/* header style  */
.header {
    background: linear-gradient(180deg,
            rgba(17, 17, 17, 1) 0%,
            rgba(119, 119, 119, 0.4) 50%,
            rgba(17, 17, 17, 0.07) 100%);

    height: auto;
    border: none;
}

/* navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5625rem 11.875rem 0;
}

.fitness {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
}

.nav_options {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
}

.home {
    padding: 12px 24px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    margin: 2px;
    margin-right: 3rem;
    cursor: pointer;
}

.nav_options p {
    margin-right: 3rem;
    cursor: pointer;
    color: white;
    font-size: 1.125rem;
}

.about {
    margin-right: 1.5rem;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 400;
    cursor: pointer;
}

/* header section styles  */
.header_container {
    display: flex;
    justify-content: space-between;
    padding: 0 13.375rem 0 11.875rem;
}

.header_content_title {
    color: rgb(255, 255, 255);
    font-size: 4.875rem;
    font-weight: 900;
    margin-top: 6rem;
}

.shape {
    font-family: 'Miama', sans-serif, cursive;
    font-weight: 400;
}

.header_content p {
    text-align: start;
    margin-top: 1.75rem;
}

.btn_div {
    display: flex;
    gap: 1rem;
    margin-top: 1.75rem;
}

.btn_download {
    background: none;
    border: 1px solid rgb(255, 255, 255);
}

.header_img {
    margin-top: 2rem;
}

.header_img>img {
    width: auto;
    height: 100%;
}

.card1 {
    display: flex;
    align-items: center;
    position: absolute;
    width: auto;
    height: auto;
    left: 65%;
    top: 62%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    padding: 1.25rem 1.4375rem;
}

.ellipse {
    background: rgb(230, 83, 60);
    border-radius: 100px;
    width: 40px;
    height: 40px;
    margin-right: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1_content h5 {
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 900;
}

.card2 {
    position: absolute;
    width: auto;
    height: auto;
    left: 82.5%;
    top: 29%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1.5rem;
}

.card2 h5 {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
}

.card2 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8125rem;
    font-weight: 400;
}

.bars {
    display: none;
}

.btn_join2 {
    display: none;
}

/* Habit section styles  */
.card_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3.625rem;
}

.img_card {
    max-width: 231px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_card img {
    border-radius: 100px;
}

.break {
    display: none;
}

/* run section styles  */
.run_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    position: relative;
}

.run_contents {
    width: 30%;
    /* margin-right: 10.3125rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.875rem 1.875rem 1.875rem 3.375rem;
}

.run_contents .section_title {
    text-align: start;
}

.run_contents p {
    text-align: start;
}

.run_contents p {
    margin-top: 1rem;
}

.run_contents button {
    margin-top: 2rem;
}

.img_section {
    width: 366px;
    height: 312px;
    overflow: hidden;
    position: relative;
    border-radius: 18px;
    margin: 1.875rem 2rem 1.875rem 0;
}

.img_section img {
    position: absolute;
    height: 250%;
    width: auto;
    transform: translate(-50%, -50%);
    top: 75%;
    left: 7%;
}

/* bmi_title_section styles  */
.bmi_title_section {
    margin-left: 24rem;
    width: 36%;
}

.bmi_title {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.75rem;
    font-weight: 900;
}

.bmi_title_section h2 {
    text-align: start;
}

.bmi_title_section p {
    text-align: start;
    margin-top: 0.875rem;
}

.bmi_form_section {
    margin-top: 5.5rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background: rgb(34, 34, 34);
    padding: 3.125rem 20rem;
}

table {
    width: 120%;
    margin-top: 3.25rem;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px;
}

th {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
}

.bmi_calculator {
    width: 40%;
}

.bmi_calculator p {
    margin-top: 0.875rem;
    margin-bottom: 2.125rem;
    text-align: start;
}

.bmi_calculator button {
    margin-top: 2.125rem;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

.form input[type="text"] {
    color: red;
}

.form input,
.form select {
    align-items: center;
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.4);
    font-size: 1rem;
    font-weight: 400;
}


.form select {
    grid-column: span 2;
}

.form input:nth-of-type(3),
.form select:nth-of-type(1) {
    grid-column: span 1;
}

/* meet image section style  */
.meet_image_section {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
    padding: 1.25rem;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 3.625rem;
}

.meet_img {
    width: 100%;
    height: 17rem;
    filter: brightness(75%);
    transform: scaleY(1.05);
}

.img_div {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
}

.intro {
    position: absolute;
    top: 80%;
    left: 8%;
}

.intro h4 {
    font-size: 1.25rem;
    font-weight: 900;
}

.intro p {
    text-align: start;
}

/* fitness section style  */
.fitness_section {
    background: rgba(255, 255, 255, 0.1);
    margin-top: 5.5rem;
}

.fitness_contents {
    display: flex;
    justify-content: space-between;
    padding: 4.125rem 19.5rem 0;
}

.fitness_div_1 h1 {
    color: rgb(230, 83, 60);
    font-size: 4.375rem;
    font-weight: 800;
    font-style: italic;
}

.fitness_div_1 p {
    text-align: start;
    margin-top: 1.25rem;
}

.fitness_div h3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.fitness_div p {
    text-align: start;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4375rem;
    font-weight: 400;
    margin-top: 1.25rem;
}

.margin {
    border: 2px solid rgba(255, 255, 255, 0.1);
    width: 65%;
    margin: 0 auto;
    margin-top: 4.9375rem;
    border-radius: 20px;
}

.copyright {
    margin: 2.25rem;
    padding-bottom: 2.25rem;
}

.copyright p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.125rem;
    font-weight: 400;
}

/* pricing section styles  */

.pricing_container {
    margin-top: 3.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.pricing_card {
    border-radius: 16px;
    text-align: center;
    padding: 1.125rem;
    background: rgba(255, 255, 255, 0.1);
}

.pricing_card h3 {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem 1rem 0 0;
    padding: 1rem 0;
    margin: -1.125rem -1.125rem 1.125rem;
}

.pricing_card h1 {
    font-size: 2.5rem;
    margin: 0;
    color: rgb(230, 83, 60);
}

.pricing_card p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
    margin: 1rem 0;
    text-align: start;
}

.pricing_card ul {
    list-style-type: none;
    padding: 0;
    margin: 1.25rem 0;
    text-align: left;
}

.pricing_card ul li {
    padding: 0.35rem 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.featured {
    transform: scale(1.1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.9);
    z-index: 1;
    background: rgba(255, 255, 255, 0.14);
}
.featured h3{
    background: rgba(255, 255, 255, 0.15);
}
.pricing_card button{
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
}
.featured button{
    background: rgb(230, 83, 60);
}

/* responsive for mobile  */
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
        margin: 0 auto;
        margin-top: 4.125rem;
    }

    .section_title {
        font-size: 2rem;
    }

    p {
        font-size: 0.875rem;
    }

    .nav_options,
    .btn_join1 {
        display: none;
    }

    .bars,
    .btn_join2,
    .break {
        display: block;
    }

    .p_break {
        display: none;
    }

    .bars i {
        font-size: 1.125rem;
    }

    .btn_join {
        display: block;
    }

    .navbar {
        /* padding: 0; */
        padding: 3.25rem 1.25rem 0;
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
    }

    .header_container {
        width: auto;
        padding: 3.25rem 1.25rem 0;
        flex-direction: column;
    }

    .header_content_title {
        margin-top: 0;
        font-size: 2rem;
    }

    .header_img img {
        width: 100%;
        height: 100%;
    }

    .card1 {
        left: 2rem;
        top: 49.5rem;
    }

    .card2 {
        left: 50%;
        top: 33.5rem;
    }

    .btn_primary {
        padding: 1rem 2rem;
    }

    .btn_div {
        justify-content: space-evenly;
        white-space: nowrap;
    }

    .habit_section {
        margin-top: 0;
    }

    .card_container {
        flex-direction: column;
    }

    .img_card {
        margin-top: 2.5rem;
    }

    .img_card1 {
        margin-top: 0;
    }

    .run_section {
        flex-direction: column;
        padding: 0;
        gap: 0;

    }

    .run_contents {
        padding: 0;
        width: calc(100% - 4rem);
        padding: 2rem 2rem 0 2rem;
    }

    .img_section {
        position: relative;
        width: calc(100% - 4rem);
        height: 100%;
        margin: 0;
        padding: 2rem;
    }

    .img_section img {
        position: relative;
        width: 100%;
        transform: none;
        top: 0;
        left: 0;
        border-radius: 18px;
        box-sizing: border-box;
    }

    .run_contents button {
        width: auto;
        align-self: stretch;
    }

    .bmi_form_section {
        padding: 0;
        flex-direction: column;
        padding: 2rem 1.25rem 2.125rem;
        margin-top: 1.25rem;
    }

    table {
        margin-top: 1.5rem;
        width: 80%;
    }

    .bmi_calculator {
        width: 100%;
        margin-top: 2.625rem;
    }

    .form {
        grid-template-columns: repeat(2, 48.5%);
        width: 100%;
    }

    .bmi_title {
        font-size: 1rem;
    }

    .meet_image_section {
        width: 79%;
        grid-template-columns: repeat(1, 1fr);
    }
    .fitness_section{
        margin-top: 4.125rem;
    }
    .fitness_contents{
        flex-direction: column;
        padding: 2.25rem 1.25rem 0;
    }
    .fitness_div_1{
        margin-bottom: 0.625rem;
    }
    .fitness_div{
        margin-top: 1.25rem;
    }
    .copyright{
        margin: 2.5625rem 0 0 0;
        padding-bottom: 3.5625rem;
    }
    .copyright p{
        text-align: start;
        margin-left: 1.125rem;
    }
    .margin{
       width: 90%;;
    }

    .pricing_container {
        flex-direction: column;
        align-items: center;
    }
    .pricing_card{
        width: 90%;
    }
    .featured {
        order: -1; 
        transform: none;
        box-shadow: none;
        z-index: auto;
        width: 90%;
    }

}